<div class="form-group text-left">
        <button type="button" (click)="goBack()" class="btn btn-dark">Go Back</button>
    </div>
    
    <div class="row">
        <table class="table col-12">
            <tr>
                <th>Name:</th>
                <td>{{activeTask.name}}</td>
            </tr>
            <tr>
                <th>Weight:</th>
                <td>{{activeTask.weight}}</td>
            </tr>
        </table>
    
        <div class="col-12" *ngIf="activeTask.jobs">
            <h6>This task appears in these jobs...</h6>
            <ul>
                <li *ngFor="let item of activeTask.jobs">{{item.name}}</li>
            </ul>
        </div>
    </div>