<div class="form-group text-right">
    <button type="button" (click)="newJob()" class="btn btn-dark">New Job</button>
</div>
<ng-container *ngIf="items.length > 0; else noContent">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of (items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize) as items">
                <td>{{job.id}}</td>
                <td>{{job.name}}</td>
                <td><span class="badge badge-dark">{{job.active ? 'Active' : 'Inactive'}}</span></td>
                <td>
                    <div class="btn-group">
                        <button type="button" (click)="login()" class="btn btn-dark"><i class="fas fa-eye"></i></button>
                        <ng-container *ngIf="isAuthorized('ROLE_ADMIN')">
                            <button type="button" [routerLink]="['/jobs',job.id]" class="btn btn-dark"><i
                                    class="fas fa-edit"></i></button>
                            <button type="button" (click)="delete(job)" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></button>
                        </ng-container>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center" *ngIf="items?.length > pageSize">
        <ngb-pagination class="pagination-sm" [(page)]="page" [pageSize]="pageSize" [collectionSize]="items?.length">
        </ngb-pagination>
    </div>
</ng-container>

<ng-template #noContent>
    <div class="alert alert-dark" role="alert">
        Nothing to show
    </div>
</ng-template>